# ================================
# ROS 2
# ================================
build/
install/
log/
.colcon/

# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# Entornos virtuales
# ================================
venv/
.env/

# ================================
# VSCode / IDE
# ================================
.vscode/

# ================================
# Archivos temporales
# ================================
*.swp
*.swo
*~

# ================================
# Jupyter / notebooks
# ================================
.ipynb_checkpoints

# ================================
# Modelos de RL (IGNORAR TODOS)
# ================================
**/best_model*.zip


# ================================
# ROS bags / logs pesados
# ================================
*.bag
*.db3

# ================================
# Sistema
# ================================
.DS_Store
Thumbs.db